.nav-div {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #b3b3b3;
  overflow: hidden;
  transition: width 0.8s ease;
  width: 6%;
}

.nav-div:hover {
  width: 15%;
}

.content {
  margin-left: 6%;
  transition: margin 0.8s ease;
}

.nav-div:hover~.content {
  margin-left: 15%;
}

.nav-bar {
  padding: 10px;
  font-size: 25px;
}

.nav-bar div {
  height: 40px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
  overflow: hidden;
}

.nav-bar div:hover {
  background-color: #ddd;
}

.nav-icon {
  width: 35px;
}

.nav-icon-menu {
  width: 20px;
  padding-bottom: 20px;
}

.nav-sep {
  border: 3px solid black;
  margin: 10px 0;
}

.nav-selected {
  background-color: #eee;
}