.nav-bar {
    background-color: #b3b3b3;
    /* Cambia el color de fondo a uno sutil de tu elección */
    width: 180px;
    /* Ajusta el ancho de la barra de navegación según tus necesidades */
    position: fixed;
    /* Fija la barra de navegación en la posición izquierda */
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* Espaciado interno para los elementos de navegación */
}

.nav-bar div {
    margin-bottom: 10px;
    /* Espaciado entre elementos de navegación */
    cursor: pointer;
    padding: 5px 10px;
    /* Espaciado dentro de los elementos de navegación */
    border-radius: 5px;
    /* Bordes redondeados */
    transition: background-color 0.3s;
    /* Transición de color de fondo */
}

.nav-bar div:hover {
    background-color: #ddd;
    /* Cambia el color de fondo al pasar el mouse por encima */
}